.App {
  background-color: #343a40;
  text-align: center;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2c384e;
}

.App-link {
  background-color: inherit;
  color: #09d3ac;
}
